* {
  margin: 0px;
  padding: 0px;
}

#to {
  background-color: black;
  width: 100%;
  height: 10vh;
}
#left {
  float: left;
  background-color: aqua;
  width: 50%;
  height: 80vh;
}
#right {
  float: right;
  background-color: rgb(130, 145, 145);
  width: 50%;
  height: 80vh;
}
#bottom {
  margin-top: 80vh;
  background-color: rgb(158, 77, 77);
  width: 100%;
  height: 10vh;
}
