*{
    margin: 0px;
    padding: 0px;
   background-color: azure;
}
#nav{
    width:100%;
    height: 10vh;
}
#img{
  padding: 5px;;
}

#main {
    width: 100%;
    height: 90vh;
   
}
#main iframe{
    width: inherit;
    height: inherit;
   display: flex;
}
    
