* {
  margin: 0px;
  padding: 0px; 
 
}
body{
overflow: auto;
}
#nav {
   background: linear-gradient(45deg, #7878cc 0%, #f7f8fa 100%);
  width: 100%;
  height: 10vh;
}
/* #img {
  padding: 5px;
} */

#main {
  width: 100%;
  height: 80vh;

}
#main iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.button a {
  text-decoration: none;
  background-color: aqua;
}
.button{
   background-color: aqua;
}
.button:hover{
    background-color: aqua;
}