* {
  background-color: black;
}
.profile-area {
  padding: 20px;
}
.padding {
  padding: 20px;
}
.main {
  box-shadow: 0 0 30px rgba(0, 0, 0, 5);
  overflow: hidden;
  border-radius: 10px;
  height: 300px;
  overflow: hidden;
}
.img1 img {
  width: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 100px;
}
.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  z-index: 1;
  top: -70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 7px solid #fff;
}
.main:hover.img2 img {
  border-color: darkcyan;
  transition: 0.7s;
}
.text {
  margin-top: -60px;
}
.text-center {
  color: azure;
}
.main-text {
  
  font-weight: 300;
  padding-left: 0px;
  margin-top: 0;
  font-size: 15px;
  padding: 10px;
  margin: 0 0 20px;
  color: aliceblue;
}
#mainCard {
  align-items: center;
  margin-left: 550px;
  margin-right: 550px;
  margin-bottom: 40px;
}
.PK {
  border-radius: 100%;

  width: 120px;
}
