* {
  margin: 0px;
  padding: 0px;
  background-color: azure;
}
/* feture */
#img {
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
  margin-left: 20px;
  margin-right: 30px;
}
#iconbox {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 188, 237);
  border-radius: 100%;
  color: azure;
}
#serHead {
  padding-top: 70px;
}
.main-img {
  padding: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

/* service */

.project .overley {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 70px;
  margin-top: -30px;
  align-items: flex-end;
}
.text-primary {
  padding-top: 20px;
}
