* {
  margin: 0px;
  padding: 0px;
  background-color: azure;
}
/* feture */
#img {
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
  margin-left: 10px;
  margin-right: 30px;
}
#iconbox {
  width: 45px;
  height: 45px;
  margin-right:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 188, 237);
  border-radius: 100%;
  color: azure;
}
#serHead {
  padding-top: 70px;
}
.main-img {
  padding: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

/* service */
.bento-item {
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.bento-item:hover {
    transform: scale(1.05);
}

.bento-tall {
    height: 410px;
}

.bento-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgba(74, 72, 72, 0.6);
    color: rgb(223, 216, 216);
}
.bento-content h3 ,.bento-content p{
  background-color: transparent;
}

.bento-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

