* {
  margin: 0px;
  padding: 0px;
  background-color: azure;
}
#carouselExampleSlidesOnly{
  padding-left: 8px;
}
.section {
  padding-top: 80px;
  padding-bottom: 60px;
}
#serHead {
  padding-bottom: 30px;
}
.card {
  background-color: rgba(130, 107, 243, 0.01);
  padding: 20px;
  transition: all 0.25s ease;
  box-shadow: var(box-shadow);
  margin-top: 20px;
}
.card:hover {
  box-shadow: none;
  transform: translateY(10px);
}
.iconbox {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 188, 237);
  border-radius: 100%;
  color: azure;
}
/* .service{
  position: relative;
  z-index: 2;
  overflow: hidden;
 background-color: rgb(27, 99, 206);
}
.service::after{
  content: "";
  height: 100%;
  width:100%;
  top: -100%;
  left: 0;
  background-color: rgb(27, 99, 206);
  z-index:-1;
  position: absolute;
  opacity: 0;
}
.service:hover .iconbox{
  background-color: aqua;
  color: white;
}
.service:hover h3, 
.service:hover p{
color: aliceblue;
} 
.service:hover::after{
  opacity: 1;
  top: 0;
} */

/* #footer ol {
  padding: 60px;
}
#footer ul,
li,
a {
  color: black;
  text-decoration: none;
  display: block;
}
#footer {
  background-color: rgb(96, 98, 100);
  padding-top: 5px;
} */
.project {
  position: relative;
}
