.nav {
  background: linear-gradient(135deg, #5a08f2, #180690);
}
.navbar-brand {
  color: #fff;
  font-weight: bold;
}
.navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link:hover {
  color: #231413;
}
.dropdown-menu {
  background-color: #343a40;
  border: none;
}
.dropdown-menu .dropdown-item {
  color: #fff;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #ff6f61;
  color: #fff;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  border-radius: 0.375rem;
}

/* carosol */
.carousel-caption{
    color: #231413;
}

/* footer */
.footer-link {
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #0d6efd;
}

.social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-3px);
    color: #fff;
}
