

        table,
        tr,
        td {
            border: 4px solid rgb(26, 54, 38);
        } 
        body{
            background-image: url(background\ idb.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            /* background-position: center; */
        }
     .pk{
        color: rgb(186, 52, 52);
     }   
     #Rehana{
        color: rgb(72, 145, 120);
     }
        
#nav{
    padding:auto;
    background-color: black;
    height:10vh;
    width:100%;
}
#nav ul, #nav li{
    align-items:center;
    list-style:none;
    float:left;
    size:3vh;
    color:white;
    margin: 5px;

}
/* #nav li{
    color: white;
} */
 #nav li:hover{
    color: red;
    background-color:white;
}
/* nav li{
    size:3vh;
    color:white;
    margin: 5px;
} */
