table{
    border-collapse: collapse;
    text-align: center;
}

#tanvir table,th,tr,td{
    border: 2px solid rgb(160, 30, 30);  
    color: blueviolet;
}



#tanvir1 th, 
#tanvir1 tr, 
#tanvir1 td {
     border: 2px solid rgb(16, 16, 212);  
    color: blueviolet;
}
#Srabon ul,
#Srabon li{
    list-style: none;
    float: left;
    margin: 5px;
    color: white;
}
#Srabon{
    background-color: rgb(236, 9, 9);
    width: 100%;
    height: 10vh;
}
