#nav{ display: flex;
    justify-content:space-between ;

}
#header{
    background-color: blue;
    height:auto;
    width:100%;
}
#nav ul,
#nav li{
    display: inline-block;
    color: azure;
    /* align-items: center;
    text-align: right;  */
   list-style: none;
   /* float: right */
   
}
#nav li{ 
    padding: 20px;
    color: aliceblue;
}
#nav a{ color: aliceblue;
text-decoration: none;
}
#nav a:hover{
   border:2px solid cornsilk;
   background-color: rgb(1, 12, 22);
}